* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(109, 168, 132);
}

p {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3, h4, h5, h6 {
    color: red;
    text-decoration: dotted;
}

table {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
